/* Custom styles for Swiper pagination bullets */
.mySwiper .swiper-pagination-bullet {
    background-color: #ffffff; /* White background for inactive bullets */
    opacity: 0.5; /* Semi-transparent */
    width: 10px; /* Bullet width */
    height: 10px; /* Bullet height */
    border-radius: 50%; /* Make it circular */
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #ffffff; /* Red background for active bullet */
    opacity: 1; /* Fully opaque */
}
