@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x:hidden
}

@layer components{
    .image{
        -webkit-mask-image: url(./assets/o.png);
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        height:100%
    }

    .text-stroke{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 1px;
    }
    .perspective{
        perspective:2200px
    }
    
      
}

